#products_container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid rgba(128, 128, 128, 0.473);
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.product img{
  width: 200px;
  height: 80%;
  object-fit: contain;
}